{% extends 'base.html' %} 

{% block content %}   
   <main>
      <!--? Hero Start -->
      <!-- Hero End -->
      <!--? Blog Area Start -->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-10 posts-list">
                  <div class="single-post ">
                        <h2 style="color: #2d2d2d;">{{Post.title }}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"></i> {{Post.date_added}}</a></li>
                        </ul>
                        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                           <!--Indicators-->
                           <ol class="carousel-indicators">
                           {% for p in photos %}
                             <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                           {% endfor %}
                           </ol>
                           <!--/.Indicators-->
                           <!--Slides-->
                           <div class="carousel-inner" role="listbox">
                             {% for p in photos %}
                             <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                              <a href="{{p.images.url}}"><img class="d-block w-100" src="{{p.images.url}}"
                                 alt="First slide"></a>
                             </div>
                             {% endfor %}
                             <!--/First slide-->
                           <!--/.Slides-->
                           <!--Controls-->
                           <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                             <span class="sr-only">Previous</span>
                           </a>
                           <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                             <span class="carousel-control-next-icon" aria-hidden="true"></span>
                             <span class="sr-only">Next</span>
                           </a>
                           <!--/.Controls-->
                         </div>
                       <div class="blog_details">
                        <p class="excert">
                           {{Post.overview|linebreaks}}
                        </p>
                    </div>
                  </div>
                  <div class="navigation-top">
                     <div class="fb-like" data-href="http://127.0.0.1:8000/blog_detail/{{Post.id}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                     <div class="d-sm-flex justify-content-between text-center">
                     <div class="fb-comments" data-href="http://127.0.0.1:8000/blog_detail/{{Post.id}}" data-numposts="5" data-width=""></div>   
                  </div>
                  
                 
                  
               </div>

              
      
           
               

            </div>
         </div>
      </section>
      <!-- Blog Area End -->
   </main>
   {% endblock content %}