{% extends 'base.html' %} 

{% block content %} 
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-20 text-center">
                                <h2>Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--?  Contact Area start  -->
        <section class="contact-section">
            <div class="container">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div class="col-md-12 my-5 align-self-center">
                            <div class="embed-responsive embed-responsive-21by9 height-60">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25681.423126665206!2d10.086457000000001!3d36.429081!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x423e78e729737b29!2sEcole%20sup%C3%A9rieure%20de%20l&#39;agriculture%20de%20Mograne!5e0!3m2!1sen!2sus!4v1604672712164!5m2!1sen!2sus" width="100"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="contact-title">{{success}} {{name}} {{soon}} </h2>
                    </div>
              
                    
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Ecole Supérieure d'Agriculture de Mograne (ESA Mograne)</h3>
                                <p>1121 Mograne- Zaghouan</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+21626830087</h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>esamjuniorentreprise@gmail.com</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Area End -->
    </main>
    
    <script>
    setTimeout(fade_in, 2000);
    function fade_in() {
    $("#msg").fadeIn().delay(2000).fadeOut();
    }
    </script>

    {% endblock content %}