{% load static %}


<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'img/logo/loder55.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <ul>     
                                    <li>Tél : +21626830087</li>
                                    <li>Email : esamjuniorentreprise@gmail.com</li>
                                </ul>
                                <div class="header-social">    
                                    <ul>
                                        <li><a href="https://www.instagram.com/esamjuniorentreprise/"><i class="fab fa-instagram"></i></a></li>
                                        <li><a  href="https://www.facebook.com/ESAMograne.Junior.Entreprise"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://tn.linkedin.com/in/esam-junior-entreprise-08a80012b"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo" id ="logo" >
                                <a href="/index"><img src="{% static 'img/logo/logo55.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li><a href="/index">ACCUEIL</a></li>
                                            <li><a href="/events/">NOS ÉVÉNEMENTS </a></li>
                                            <li><a href="/blog/">ACTUALITÉS</a></li>
                                            <li><a href="/contact/">CONTACT</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSegxq34kDIbk2cjiLzK7vhTUtxThYFon4jX7wWwbtSv-enfyw/closedform" class="btn header-btn">Postuler</a>
                                </div>
                        </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<style>
#logo img {
  max-height: 90px;
  width: auto;
 }
</style>