{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <main>
    <!-- slider Area Start-->
    <div class="slider-area" id='back' >
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s" >ESAM<br> Junior Entreprise</h1>
                                <P data-animation="fadeInUp" data-delay=".8s" >Innovate, evolve, lead the way !!</P>
                                <!-- Hero-btn -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">ESAM<br>Junior Entreprise</h1>
                                <P data-animation="fadeInUp" data-delay=".8s" >Innovate, evolve, lead the way !!</P>
                                <!-- Hero-btn -->
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    
    <!--? Services Area Start -->


    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>Qui sommes nous?</span>
                            <h2>ESAM Junior Entreprise</h2>
                        </div>
                        <p>est une organisation à but non lucratif, constituée et gérée par des élèves ingénieurs et des techniciens suppérieurs de l'Ecole Supérieure d'Agriculture de Mograne. 

                            Elle  fait partie d'un réseau international de plus que 300 Junior-Entreprises et un réseau national comportant plus que 42 organismes. 
                            
                            Notre mission est d'encourager l'esprit entrepreneurial chez les étudiants et de leurs fournir l'opportunité de se préparer pour la vie professionnelle en réalisant des projets qui tombent dans nos domaines d'expertises au profit de divers clients (PME, Administrations, exploitants agricoles..)</p>
                    </div>
                 </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src= "img/gallery/about2.png" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'img/gallery/about11.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="service-area section-padding30">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <h2>Nos domaines d'expertise</h2>
                    </div>
                </div>
            </div>
        <div class="row testimonial-area ">
            <div class="col-md-12 ">
                <div class="h1-testimonial dot-style" >
                    
                    <div class="single-cat text-center mb-50 ">
                        <div class="cat-icon">
                            <span class="flaticon-null-1"><i class="fas fa-chart-bar"></i></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Suivit et analyse</a></h5>
                            <p>TNos élèves ingénieurs économistes sont à votre disposition pour réaliser vos enquétes et les analyses associées.</p>
                        </div>
                    </div>
                    
                    <div class="single-cat active text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-think"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Opérations techniques</a></h5>
                            <p>Nos élèves ingénieurs de Production Végétale et de Gestion des Ressources Naturelles seront à la hauteur de vos attentes par des interventions sur terrains et des études en laboratoire.</p>
                        </div>
                    </div>
                
                
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-gear"></span>
                            
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Conception</a></h5>
                            <p>On met en oeuvre nos compétences et notre savoir faire pour vous fournir des solutions efficaces et ingénieuses.</p>
                        </div>
                    </div>
                
                
                    <div class="single-cat active text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-null-1"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Construction</a></h5>
                            <p>Le terrain est notre scène de théâtre, un siège au premier rang vous fera plaisir. </p>
                        </div>
                    </div>
               
                
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-gear"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Production</a></h5>
                            <p>Nos plantes sont bien plus que des produits, elles sont nos enfants.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <div class="team-area pt-160 pb-160">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-70">
                       <h2> Notre Équipe</h2>
                    </div> 
                </div>
            </div>
            <div class="row testimonial-area ">
                <div class="col-md-12 ">
                    <div class="h1-testimonia dot-style" >
                        {% for obj in object_list %}  
                            <div class="col-lg-3 col-md-6 col-sm-6  ">
                                <div class="single-team mb-30 ">
                        <div class="team-img">
                            <img src="{{obj.photo.url}}" alt="">
                            <!-- Blog Social -->
                            <ul class="team-social">
                                <li><a href="{{obj.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{obj.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="mailto:{{obj.email}}"><i class="fas fa-at"></i></i></a></li>
                            </ul>
                        </div>
                        <div class="team-caption">
                            <h3>{{obj.name}}</h3>
                            <p>{{obj.Position}}</p>
                        </div>
                    </div>
                     
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
 
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    
                    <div class="h1-testimonial-active dot-style">
                        {% for obj in object_list_1 %}
                        <div class="single-testimonial text-center">
                            
                            <div class="testimonial-caption ">
                                
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40"  >
                                        <img src="{{obj.photo.url}}" alt="">
                                        <span>{{obj.name}}</span>
                                        <p>{{obj.Position}}</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“{{obj.message_testimonial}}”</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                     
                    {% endfor %}   
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
<!--Carousel Wrapper-->
<div class="team-area pt-160 pb-160">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                   <h2> Ils nous ont fait confiance </h2>
                </div> 
            </div>
        </div>
  
    <!--Slides-->
    <div class="testimonial-area " role="listbox">
  
      <!--First slide-->
      <div class="row ">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="{% static 'img/part/avatar.png' %}"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="{% static 'img/part/unnamed_hylu6Mc.jpg' %}"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="{% static 'img/part/scoopec.jpg' %}"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="{% static 'img/part/1543935188.2427_3_o.jpg' %}"
              alt="Card image cap">
          </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
              <img class="img-fluid" src="{% static 'img/part/download.png' %}"
                alt="Card image cap">
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
              <img class="img-fluid" src="{% static 'img/part/images.png' %}"
                alt="Card image cap">
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card">
              <img class="img-fluid" src="{% static 'img/part/download.jfif' %}"
                alt="Card image cap">
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card">
              <img class="img-fluid" src="{% static 'img/part/download (1).jfif' %}"
                alt="Card image cap">
            </div>
          </div>
  
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      
      <!--/.Second slide-->
  
      <!--Third slide-->
      
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>

  <section class="featured-job-area section-padding30 section-bg2" ></section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
        
                    <h2>Nos prochains événements</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12">
                {% for obj in object_list_2 %}
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="#"><img src=" {{obj.thumnail.url}}" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>{{obj.eventname}}</h4></a>
                            <ul>
                                <li><i class="far fa-clock"></i>{{ obj.eventtime }}</li>
                                <li><i class="fas fa-sort-amount-down"></i>{{ obj.eventdate }}</li>
                                <li><i class="fas fa-map-marker-alt"></i>{{ obj.eventloction }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            
        </div>
    </div>
</section>
    <!-- Testimonial End -->
    <!--? Blog Area Start -->
    <section class="home-blog-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">
                    <div class="section-tittle text-center mb-90">
                        <h2>Dernières Actualités</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for obj in latest_1 %}
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{{obj.thumnail.url}}" alt="">
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>{{obj.date_added}}</span>
                                </div>
                            </div>
                            <div class="blog-cap">
                                
                                <h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h3>
                                <div>    
                                    <ul class="blog-info-link">
                                        {% for cat in obj.categories.all %}  
                                        <li><a href="#"></i> {{cat}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
  

</main>

<style>
.img-fluid{
max-height: 190px;
-webkit-box-shadow: 10px 10px 5px 0px rgba(227,218,227,0.6);
-moz-box-shadow: 10px 10px 5px 0px rgba(227,218,227,0.6);
box-shadow: 10px 10px 5px 0px rgba(227,218,227,0.6);
}

</style>
   

{% endblock content %}

