{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script>
      <!-- One Page, Animated-HeadLin -->
      <script src="{% static 'js/wow.min.js' %"></script>
      <script src="{% static 'js/animated.headline.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

      <!-- Date Picker -->
      <script src="{% static 'js/gijgo.min.js' %}"></script>
      <!-- Nice-select, sticky -->
      <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
      <script src="{% static 'js/jquery.sticky.js' %}"></script>
      
      <!-- counter , waypoint,Hover Direction -->
      <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'js/waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'js/hover-direction-snake.min.js' %}"></script>
      
      <!-- contact js -->
      <script src="{% static 'js/contact.js' %}"></script>
      <script src="{% static 'js/jquery.form.js' %}"></script>
      <script src="{% static 'js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'js/mail-script.js' %}"></script>
      <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
      
      <!-- Jquery Plugins, main Jquery -->	
      <script src="{% static 'js/plugins.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
      <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>